/* .hide {
    display: none;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #fff;
}
address {
    font-style: normal;
}
main {
    flex-grow: 1;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a,
ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding: 96px 0;
}

.container {
    min-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
    }
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
display: flex;
align-items: center;

}



/* logo */

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 120px;
 
}
.logo-studio {
color: #2e2f42;
}
.logo-footer { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-studio-footer {
    color: #f4f4fd;
}

/* navigation */

.navigation {
    display: none
    
}


.header-btn {
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin: 16px 0;
}

.header-btn-icon {
    fill: #2f2f37;
}
/* address */

.address {
    display: block;
    margin-left: auto;
    font-style: normal;
}

.add {
    display: none;
}
@media screen and (min-width: 768px) {
    .header-btn {
        display: none;
        }
    .navigation {
        gap: 40px;
        display: flex;
        align-items: center;
        }
    .add {
        display: flex;
        gap: 40px;
        }
    .navigation-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        padding: 24px 0;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
        }
        
    .navigation-link.active {
        position: relative;
        color: #404bbf;
        }
        
    .navigation-link.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        position: absolute;
        left: 0;
        bottom: -1px;
        }
        
    .navigation .navigation-link:hover,
    .navigation .navigation-link:focus {
        color: #404bbf;
             }
    .add {
        margin-left: auto;
        display: block;
    }
    .add-list {
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #434455;
         }
    
    .add .add-list:hover,
    .add .add-list:focus {
        color: #404bbf;
    
         }
}

@media screen and (min-width: 1158px) {
    .header-btn {
        display: none;
    }
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add {
        margin-left: auto;
        display: flex;
        gap: 40px;
    }
    .logo-web {
        margin-right: 76px;
    }
}

 /* #region hero */
 .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-foto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
   
}
.hero-section {
    padding: 72px 0;
        width: 100%;
        background-color: #2e2f42;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bg_mob.jpg);
}
@media only screen and (min-width: 320) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bg_mob@2.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bg_tab.jpg);

        @media only screen and (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/bg_tab@2.jpg);
        }
    }
}

@media only screen and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/bg_desk.jpg);

        @media only screen and (min-resolution: 192dpi) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/bg_desk@2.jpg);
        }
    }
}



.title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #fff;
     min-width: 216px;
     max-width: 496px;
    margin-bottom: 72px;

 }

 .button {
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #fff;
     background-color: #4d5ae5;
     cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* display: block;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    height: 56px;        */
 }
 .button:hover,
 .button:focus {
      background-color: #404BBF;
 }
 @media screen and (min-width: 768px) {
     .hero-section {
         padding: 112px 0;
     }

     .title {
         font-size: 56px;
         line-height: 1.07;
         max-width: 496px;
         margin-bottom: 36px;
     }
 }

 @media screen and (min-width: 1158px) {
     .hero-section {
         padding: 188px 0;
     }

     .title {
         font-size: 56px;
         line-height: 1.07;
         width: 496px;
         margin-bottom: 48px;
     }
 }
/* #endregion hero */
 /* #region strategy */

.list-items {
    display: flex;
    flex-direction: column;
    gap: 72px;

}
.strategy-caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
 .text-list {
    font-weight: 500;

 }
 .icon-items {
    display: none;
 }
@media screen and (min-width: 768px) {
    .list-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .items {
        width: calc((100% - 24px) / 2);
        text-align: start;
    }

    .strategy-caption {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .items {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: calc((100% - 72px) / 4);
    }

    .icon-items {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 264px;
        background: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
    }

    .strategy-caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
    }

    .text-list {
        font-weight: 400;
    }
}

 /* #endregion strategy */

 /* #region team */

 .team {
    background-color: #f4f4fd;
 }
 .team-title {
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            margin-bottom: 72px;
            /* text-transform: capitalize; */
 }

 .team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;

 }
  .team-link {
      background-color: #FFFFFF;
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
      border-radius: 0px 0px 4px 4px;
  }
  .cards-team {
      padding: 32px 16px;
  }
  .heading-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .text-team {
      text-align: center;
      margin-bottom: 8px;
      /* color: #434455;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em; */
  }
.team-pack {
display: flex;
justify-content: center;
gap: 24px;
/* align-items: center;
margin-top: 8px; */

}
 .social-icon {
     width: 40px;
     height: 40px;
 }
.team-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-wrapper:hover,
.team-wrapper:focus {
background-color: #404bbf;
}
.userpic {
fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
}

.team-link {
    min-width: 264px;
}
/* #endregion team */


/* #region portfolio */
 .subject {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 72px;
     text-transform: capitalize;

 }
.list-portfolio {
     display: flex;
     flex-direction: column;
     gap: 48px;
 }
.port-link {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    
 

}
.heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.text-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.cards-port {
    padding: 32px 16px;
    /* border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px; */
}
.overlay {
    display: none;
}

@media screen and (min-width: 768px) {
    .list-portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 24px;
    }

    .port-link {
        width: 356px;
    }
}
@media only screen and (min-width: 1158px) {
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-wrapper {
    overflow: hidden;
    position: relative;
}
.port-link:hover .overlay {
    transform: translateY(0);

}
.port-link {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
}
/* #endregion */
/* footer */

.footer {
   background-color: #2e2f42;
}
.footer-container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    gap: 72px;
}
  
 .footer-logo-text {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    width: 264px;
 }
.text-footer {
    font-weight: 400;
    color: #f4f4fd;

}
.footer-social {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-text {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}
.team-pack-footer {
    display: flex;
    gap: 16px;
}
.social-icon-footer {
    width: 40px;
    height: 40px;
}
.team-wrapper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-wrapper-footer:hover,
.team-wrapper-footer:focus{
    background-color: #31d0aa;
}
.userpic {
    fill: #f4f4fd;
}


.subscribe-btn {
display: flex;
flex-direction: column;

}
.subs-text {
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}
.subs-btn-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.subs-input {
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    width: 100%;
    min-height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: inherit;
    outline: none;
}
 .subs-input::placeholder {
    color: #ffffff;
 }

.subs-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.subs-btn:hover,
.subs-btn:focus {
    background-color: #404bbf;
}

.subs-btn-svg {
    margin-left: 16px;
    fill: #fff;
}
@media screen and (min-width: 768px) {
    .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    width: 584px;
        }
    .subscribe-btn {
    display: flex;
    flex-direction: column;
    min-width: 453px;       
}
.subs-text {
    text-align: start;
}
.subs-btn-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.subs-label {
    width: 100%;
}
}
@media screen and (min-width: 1158px) {

.footer-container { 
    display: flex;
    flex-wrap: nowrap;
    width: 1158px;
    gap: 0;
}
.footer-logo-text{
    min-width: 264px;
    margin-right: 120px;
    justify-content: flex-start;
}
.footer-social {
    align-items: flex-start;
    margin-right: 80px;
}
}
/*modal*/

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FCFCFC;
    border-radius: 4px;
    width: 288px;
    min-height: 584px;
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .modal {
       width: 408px;
       padding: 72px 24px 24px 24px;
    }
    
}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #2e2f42;
    background-color: #e7e9fc;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: none;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
.modal-btn:hover .modal-btn-icon {
    fill: #ffffff;
}

.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}
.modal-caption {
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42;
}
.modal-wrapper {
    margin-bottom: 8px;
    }
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-field {
    position: relative;
}
.modal-field-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-input:focus-within {
    border-color: #4d5ae5;
}

.modal-field-input:focus-within+.modal-field-icon {
    fill: #4d5ae5;
}
.modal-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-message {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-message:focus {
    border-color: #4d5ae5;
}

.agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.agreement-checkbox {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked+.agreement .agreement-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
} 
.agreement-checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}
.modal-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.checkbox-agreement {
    margin-bottom: 24px;
} 
/* #region mobile menu */
.backdrop-mob {
    position: fixed;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-mob.is-open {
    position: fixed;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
}

.mobile-menu {
    position: fixed;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
    padding: 72px 16px 40px;
    top: 0;
    left: calc(50% - 160px);
    min-width: 320px;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    cursor: pointer;
}

.mob-close-button:hover,
.mob-close-button:focus,
.mob-close-button:active {
    background-color: #404bbf;
}

.mob-close-button:hover .close-butt-icon,
.mob-close-button:focus .close-butt-icon,
.mob-close-button:active .close-butt-icon {
    fill: #ffffff;
}

.mob-menu-active {
    display: flex;
    color: #404bbf;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.008em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-inactive {
    display: flex;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.008em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-contacts {
    color: #434455;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.016em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-header-contacts:hover,
.mob-header-contacts:focus {
    color: #4d5ae5;
}
.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-icons-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-link-icon {
    display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal tablet and desktop */

@media screen and (min-width: 768px) {
    .backdrop {
        display: none;
    }
}

/* #endregion mobile menu*/